h1{color:rgb(247, 1, 1);
   background:bisque;
    width:260px;
    padding:20px;
    font-size:40px;
    font-family:arial black;
    border-radius:20px}

.animation{color:blue;
    background:bisque;
    width:300px;
    padding:30px;
    font-size:40px;
    font-family:arial black;
    animation-name:bijoy;
    border-radius:20px;}

.animation{animation-name:bijoy;
           animation-duration:6s;
           animation-fill-mode:forwards;
           animation-direction:alternate;
           animation-iteration-count:infinite}

@keyframes bijoy{from{margin-top:0px}

                 to{margin-left:500px;opacity:0}}

.animation1{color:rgb(49, 49, 56);
                    background:rgb(170, 168, 165);
                    width:350px;
                    padding:30px;
                    font-size:40px;
                    font-family:arial black;
                    border-radius:30px;
                    }
 
.animation1{animation-name:bijoy1;
           animation-duration:6s;
           animation-fill-mode:forwards;
           animation-iteration-count:infinite;
        }

@keyframes bijoy1{
    0%{margin-top:0px;margin-left:0px}
    25%{margin-top:00px; margin-left:400px;}
    50%{margin-left:400px; margin-top:200px;}
    75%{margin-top:200px; margin-left:00px;}
    100%{margin-top:00px; margin-top:00px;opacity:0.6}
    }

.animation2{animation-name:bijoy3;
            animation-duration:2s;
            animation-iteration-count:infinite;
            animation-direction:alternate}
 
@keyframes bijoy3{
    from{margin-top:0}
    to{margin-top:300px;opacity:.6}
}